apiVersion: networking.k8s.io/v1
    kind: Ingress
    metadata:
      name: my-ingress
    spec:
      rules:
      - host: candlestick.com
        http:
          paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: candlestick-frontend-service
                port:
                  number: 80