name: Candlestick Frontend Pipeline

on: push

jobs:
    build_job:
        runs-on: self-hosted
        steps:
            - name: Checkout
              uses: actions/checkout@v5
              
            - name: Dependencies Check
              run: |
                  chmod +x install-deps.sh
                  ./install-deps.sh
